@using Client_ViewModel.Setting
@model SettingViewModel

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Cài Đặt</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="Home/Index">Trang Chủ</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Cài Đặt
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Cài Đặt Thông Tin</h4>
                    </div>
                    <div class="pull-right">
                    </div>
                </div>
                <form asp-action="@(string.IsNullOrEmpty(Model.Id) ? "Create" : "Update")" asp-controller="Setting" method="post">
                    <input type="hidden" asp-for="BrandId" value="@Model.BrandId"/>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Địa Chỉ</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control"
                                   type="text" asp-for="Addrress" maxlength="150" />
                            <span asp-validation-for="Addrress"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Hotline</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control phone no-spinner"
                                   type="number" asp-for="Hotline" maxlength="15" oninput="validatePhoneLength(this)" />
                            <span asp-validation-for="Hotline"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Mật Khẩu Wifi</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control"
                                   type="text" asp-for="Wifi" minlength="8" maxlength="100" />
                            <span asp-validation-for="Wifi"></span>
                        </div>
                    </div>
                    <div style="margin-top: 25px;display: flex; justify-content: flex-end;">
                        <button class="btn btn-success">Cập Nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Notify-->
<ul class="notifications"></ul>
<ul class="notification-list"></ul>

@section Scripts {
    <script src="vendors/scripts/steps-setting.js"></script>
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                toastSuccess('@Html.Raw(ViewBag.Success)');
            });
        </script>
    }

    @if (ViewBag.Error != null)
    {
        <script>
            $(function () {
                toastError('@Html.Raw(ViewBag.Error)');
            });
        </script>
    }
}