@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<html lang="en">
<head>
    <!-- Title -->
    <title>Máy Tính Tiền - SnapPOS</title>
    <!-- Meta -->
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <base href="~/" />
    <!-- Site favicon -->

    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="Brand/ico.png" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css" />
    <link rel="stylesheet"
          type="text/css"
          href="src/plugins/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="src/plugins/datatables/css/responsive.bootstrap4.min.css" />
    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="src/plugins/jquery-steps/jquery.steps.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="notify/notify.css" rel="stylesheet">
</head>
<body>

    @RenderBody()

    <base href="~/" />
    <!-- js -->
    <script src="~/vendors/scripts/custominput.js"></script>
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/jquery-steps/jquery.steps.js"></script>
    <script src="~/vendors/scripts/toastnotify.js"></script>
    <script src="vendors/scripts/core.js"></script>
    <script src="vendors/scripts/script.min.js"></script>
    <script src="vendors/scripts/toastnotify.js"></script>
    <script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/signalr/dist/browser/signalr.js"></script>
    <script src="~/Notification/notify.js"></script>

    <!--Custom validate-->
    <!-- bootstrap-touchspin js -->
    <script src="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
