
<div class="xs-pd-20-10 pd-ltr-20">
	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>
						Bảng Điều Khiển
					</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Home/Index">Trang Chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">
							Bảng Điều Khiển
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6 col-sm-12 text-right">
				<div class="dropdown">
					<a class="btn btn-primary dropdown-toggle"
					   href="#"
					   role="button"
					   data-toggle="dropdown">
						Tháng 1, 2018
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="/Admin/CreateEmplpyee">Xuất Danh Sách</a>
						<a class="dropdown-item" href="#">Chính Sách</a>
						<a class="dropdown-item" href="#">Xem Tài Sản</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix progress-box">
		<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
			<div class="card-box pd-30 height-100-p">
				<div class="progress-box text-center">
					<input type="text"
						   class="knob dial1"
						   value="80"
						   data-width="120"
						   data-height="120"
						   data-linecap="round"
						   data-thickness="0.12"
						   data-bgColor="#fff"
						   data-fgColor="#1b00ff"
						   data-angleOffset="180"
						   readonly />
					<h5 class="text-blue padding-top-10 h5">Thu Nhập Của Tôi</h5>
					<span class="d-block">
						Trung Bình 80% <i class="fa fa-line-chart text-blue"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
			<div class="card-box pd-30 height-100-p">
				<div class="progress-box text-center">
					<input type="text"
						   class="knob dial2"
						   value="70"
						   data-width="120"
						   data-height="120"
						   data-linecap="round"
						   data-thickness="0.12"
						   data-bgColor="#fff"
						   data-fgColor="#00e091"
						   data-angleOffset="180"
						   readonly />
					<h5 class="text-light-green padding-top-10 h5">
						Doanh Nghiệp Đạt Được
					</h5>
					<span class="d-block">
						Trung Bình 75% <i class="fa text-light-green fa-line-chart"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
			<div class="card-box pd-30 height-100-p">
				<div class="progress-box text-center">
					<input type="text"
						   class="knob dial3"
						   value="90"
						   data-width="120"
						   data-height="120"
						   data-linecap="round"
						   data-thickness="0.12"
						   data-bgColor="#fff"
						   data-fgColor="#f56767"
						   data-angleOffset="180"
						   readonly />
					<h5 class="text-light-orange padding-top-10 h5">
						Tốc Độ Dự Án
					</h5>
					<span class="d-block">
						Trung Bình 90% <i class="fa text-light-orange fa-line-chart"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
			<div class="card-box pd-30 height-100-p">
				<div class="progress-box text-center">
					<input type="text"
						   class="knob dial4"
						   value="65"
						   data-width="120"
						   data-height="120"
						   data-linecap="round"
						   data-thickness="0.12"
						   data-bgColor="#fff"
						   data-fgColor="#a683eb"
						   data-angleOffset="180"
						   readonly />
					<h5 class="text-light-purple padding-top-10 h5">
						Đơn Hàng Chờ Xử Lý
					</h5>
					<span class="d-block">
						Trung Bình 65% <i class="fa text-light-purple fa-line-chart"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12 mb-30">
			<div class="card-box pd-30 pt-10 height-100-p">
				<h2 class="mb-30 h4">Truy Cập Trình Duyệt</h2>
				<div class="browser-visits">
					<ul>
						<li class="d-flex flex-wrap align-items-center">
							<div class="icon">
								<img src="vendors/images/chrome.png" alt="" />
							</div>
							<div class="browser-name">Google Chrome</div>
							<div class="visit">
								<span class="badge badge-pill badge-primary">50%</span>
							</div>
						</li>
						<li class="d-flex flex-wrap align-items-center">
							<div class="icon">
								<img src="vendors/images/firefox.png" alt="" />
							</div>
							<div class="browser-name">Mozilla Firefox</div>
							<div class="visit">
								<span class="badge badge-pill badge-secondary">40%</span>
							</div>
						</li>
						<li class="d-flex flex-wrap align-items-center">
							<div class="icon">
								<img src="vendors/images/safari.png" alt="" />
							</div>
							<div class="browser-name">Safari</div>
							<div class="visit">
								<span class="badge badge-pill badge-success">40%</span>
							</div>
						</li>
						<li class="d-flex flex-wrap align-items-center">
							<div class="icon">
								<img src="vendors/images/edge.png" alt="" />
							</div>
							<div class="browser-name">Microsoft Edge</div>
							<div class="visit">
								<span class="badge badge-pill badge-warning">20%</span>
							</div>
						</li>
						<li class="d-flex flex-wrap align-items-center">
							<div class="icon">
								<img src="vendors/images/opera.png" alt="" />
							</div>
							<div class="browser-name">Opera Mini</div>
							<div class="visit">
								<span class="badge badge-pill badge-info">20%</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 mb-30">
			<div class="card-box pd-30 pt-10 height-100-p">
				<h2 class="mb-30 h4">Bản Đồ Thế Giới</h2>
				<div id="browservisit"
					 style="width: 100% !important; height: 380px"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 col-md-12 col-sm-12 mb-30">
			<div class="card-box pd-30 height-100-p">
				<h4 class="mb-30 h4">Xu Hướng Tuân Thủ</h4>
				<div id="compliance-trend" class="compliance-trend"></div>
			</div>
		</div>
		<div class="col-lg-5 col-md-12 col-sm-12 mb-30">
			<div class="card-box pd-30 height-100-p">
				<h4 class="mb-30 h4">Hồ Sơ</h4>
				<div id="chart" class="chart"></div>
			</div>
		</div>
	</div>
	<div class="footer-wrap pd-20 mb-20 card-box">
		DeskApp - Mẫu Quản Trị Bởi
		<a href="https://github.com/dropways" target="_blank">Dropways</a>
	</div>
</div>
<ul class="notification-list"></ul>
@section Scripts {

	@if (ViewBag.Error != null)
	{
		<script>
			$(function () {
				toastr.error('@ViewBag.Error', 'Error Occurred!')
			});
		</script>

	}
	@if (ViewBag.Success != null)
	{
		<script>
			$(function () {
				toastr.success('@ViewBag.Success', 'Successful!')
			});
		</script>

	}
}